<a href="https://colab.research.google.com/github/sanjayi2000/MachineLearning/blob/main/2348552.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/UK Regional Population Data.csv')

In [3]:
df

,Code,Name,Geography,Area (sq km),Estimated Population mid-2021,2021 people per sq. km,Estimated Population mid-2011,2011 people per sq. km,Estimated Population mid-2001,2001 people per sq. km
0,K02000001,UNITED KINGDOM,Country,242740.8699,67026292,276.122814,63285145,260.710712,59113016,243.523128
1,K03000001,GREAT BRITAIN,Country,228947.9193,65121729,284.439052,61470827,268.492621,57424178,250.817645
2,K04000001,ENGLAND AND WALES,Country,151046.9877,59641829,394.856130,56170927,371.877175,52359978,346.646953
3,E92000001,ENGLAND,Country,130310.4699,56536419,433.859375,53107169,407.543377,49449746,379.476385
4,E12000001,NORTH EAST,Region,8580.7865,2646772,308.453310,2596441,302.587764,2540090,296.020650
...,...,...,...,...,...,...,...,...,...,...
415,N09000006,Fermanagh and Omagh,Local Government District,2835.9389,116926,41.230084,113501,40.022371,105751,37.289590
416,N09000007,Lisburn and Castlereagh,Local Government District,503.5760,149272,296.423976,135280,268.638696,124585,247.400591
417,N09000008,Mid and East Antrim,Local Government District,1044.5278,139127,133.196072,135365,129.594445,127452,122.018772
418,N09000009,Mid Ulster,Local Government District,1823.0343,150598,82.608429,139011,76.252542,119112,65.337224
419,N09000010,"Newry, Mourne and Down",Local Government District,1628.2772,182345,111.986460,172276,105.802624,153726,94.410215

In [4]:
pd.set_option('display.float_format',lambda x: '%.2f' % x)
df

,Code,Name,Geography,Area (sq km),Estimated Population mid-2021,2021 people per sq. km,Estimated Population mid-2011,2011 people per sq. km,Estimated Population mid-2001,2001 people per sq. km
0,K02000001,UNITED KINGDOM,Country,242740.87,67026292,276.12,63285145,260.71,59113016,243.52
1,K03000001,GREAT BRITAIN,Country,228947.92,65121729,284.44,61470827,268.49,57424178,250.82
2,K04000001,ENGLAND AND WALES,Country,151046.99,59641829,394.86,56170927,371.88,52359978,346.65
3,E92000001,ENGLAND,Country,130310.47,56536419,433.86,53107169,407.54,49449746,379.48
4,E12000001,NORTH EAST,Region,8580.79,2646772,308.45,2596441,302.59,2540090,296.02
...,...,...,...,...,...,...,...,...,...,...
415,N09000006,Fermanagh and Omagh,Local Government District,2835.94,116926,41.23,113501,40.02,105751,37.29
416,N09000007,Lisburn and Castlereagh,Local Government District,503.58,149272,296.42,135280,268.64,124585,247.40
417,N09000008,Mid and East Antrim,Local Government District,1044.53,139127,133.20,135365,129.59,127452,122.02
418,N09000009,Mid Ulster,Local Government District,1823.03,150598,82.61,139011,76.25,119112,65.34
419,N09000010,"Newry, Mourne and Down",Local Government District,1628.28,182345,111.99,172276,105.80,153726,94.41

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Code                           420 non-null    object
 1   Name                           420 non-null    object
 2   Geography                      420 non-null    object
 3   Area (sq km)                   420 non-null    float64
 4   Estimated Population mid-2021  420 non-null    int64
 5   2021 people per sq. km         420 non-null    float64
 6   Estimated Population mid-2011  420 non-null    int64
 7   2011 people per sq. km         420 non-null    float64
 8   Estimated Population mid-2001  420 non-null    int64
 9   2001 people per sq. km         420 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 32.9+ KB

In [6]:
df.describe()

,Area (sq km),Estimated Population mid-2021,2021 people per sq. km,Estimated Population mid-2011,2011 people per sq. km,Estimated Population mid-2001,2001 people per sq. km
count,420.00,420.00,420.00,420.00,420.00,420.00,420.00
mean,3159.19,989122.26,1469.10,932773.75,1387.30,871146.88,1278.57
std,19377.02,6096464.99,2290.77,5746008.21,2170.13,5361022.53,1946.07
min,2.89,2271.00,8.72,2224.00,9.06,2140.00,8.14
25%,103.88,108730.50,193.38,103226.25,177.43,96781.50,168.88
50%,338.69,150760.50,505.29,141664.00,487.34,134665.00,447.80
75%,968.94,285214.50,1825.50,260660.75,1765.94,245708.25,1715.68
max,242740.87,67026292.00,15794.50,63285145.00,13883.77,59113016.00,13378.67

In [8]:
df.isnull().sum()

Code                             0
Name                             0
Geography                        0
Area (sq km)                     0
Estimated Population mid-2021    0
2021 people per sq. km           0
Estimated Population mid-2011    0
2011 people per sq. km           0
Estimated Population mid-2001    0
2001 people per sq. km           0
dtype: int64

In [9]:
df.nunique()

Code                             420
Name                             420
Geography                         10
Area (sq km)                     420
Estimated Population mid-2021    420
2021 people per sq. km           420
Estimated Population mid-2011    420
2011 people per sq. km           420
Estimated Population mid-2001    420
2001 people per sq. km           420
dtype: int64

In [10]:
df.sort_values(by="Estimated Population mid-2021", ascending=False).head(10)

,Code,Name,Geography,Area (sq km),Estimated Population mid-2021,2021 people per sq. km,Estimated Population mid-2011,2011 people per sq. km,Estimated Population mid-2001,2001 people per sq. km
0,K02000001,UNITED KINGDOM,Country,242740.87,67026292,276.12,63285145,260.71,59113016,243.52
1,K03000001,GREAT BRITAIN,Country,228947.92,65121729,284.44,61470827,268.49,57424178,250.82
2,K04000001,ENGLAND AND WALES,Country,151046.99,59641829,394.86,56170927,371.88,52359978,346.65
3,E92000001,ENGLAND,Country,130310.47,56536419,433.86,53107169,407.54,49449746,379.48
247,E12000008,SOUTH EAST,Region,19071.85,9294023,487.32,8652784,453.69,8023449,420.70
213,E12000007,LONDON,Region,1572.03,8796628,5595.71,8204407,5218.99,7322403,4657.93
18,E12000002,NORTH WEST,Region,14108.01,7422295,526.11,7055961,500.14,6772985,480.08
162,E12000006,EAST,Region,19115.59,6348096,332.09,5862418,306.68,5400463,282.52
127,E12000005,WEST MIDLANDS,Region,12998.27,5954240,458.08,5608667,431.49,5280727,406.26
318,E12000009,SOUTH WEST,Region,23835.96,5712840,239.67,5300831,222.39,4943364,207.39